Flask==0.10.1
Flask-Restless==0.14.1
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==2.3.0
PyGithub==1.25.0
Sys==1.0
gunicorn==19.1.1
pymongo==2.7
pprintpp==0.2.1
python-dateutil==2.2
requests==2.2.1
zope.interface==4.0.5
bleach==1.4
py2neo==2.0.2
regex==2014.12.24
