@font-face {
        font-family: 'digi';
        src: url('/static/css/digi.ttf');
}

@media (max-width: 1200px) {
 .row {
  margin-left: -50px;
  //margin-right: 0px;	
 }
 .searchstatus {
	padding-top: 5px;
	margin-left: -15px;
 }
 .qsuggestion {
	padding-top: 5px;
	margin-left: -15px;
 }
 .progressalign{
 	padding-top: 20px;
 	margin-left: -15px;
 }
}

 .row {
  margin-right: 0px;	
 }

.digital {
    font-family: 'digi';
    font-size: 350%;
    display: inline;
} 

#searchbox {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: -15px; 
 }

#progress { 
  display: none;
 }

#navhome {
    pointer-events : none;
}


.rpadding {
	padding-left: 1px;
    padding-right: 2px;
}

.lrpadding {
    padding-left: 10px;
    padding-right: 2px;
}

.tpadding{
	padding-top: 5px;	
}

//Contributors using list group badge
.cstyle {
	padding-left: 15px;
    background-color: #fff;	
}

.list-group-item {
	padding: 5px 5px;	
	padding-bottom: 35px;  //Handle large font size
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0px;
	text-align: left;
    padding: 0.5em 0.6em;
    p {
        font-size: 1.5em;
    }
}


body {
   padding-left: 50px;
   padding-top: 75px; 
}

