ul.tag_list { list-style: none; margin-bottom: 20px; padding: 0; }
ul.tag_list li { display: inline; }
ul.tag_list li:after { content: ","; }
ul.tag_list li:last-child:after { content: ""; }

.mytags {
    list-style: none;
    padding: 0;
    text-align: justify; 
    font-size: 20px;
  }

.mytags li {
    display: inline-block;
    margin: 0 25px 25px 0; 
  }

#progress { 
  display: none;
 }

.highlight {
 background-color:yellow
}

.typeahead,
.tt-query,
.tt-hint {
  width: 600px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

