@font-face {
        font-family: 'digi';
        src: url('/static/css/digi.ttf');
}

.digital {
    font-family: 'digi';
    font-size: 350%;
    display: inline;
} 

#searchbox {
	height: 20px;
	font-size: 16px;
}

#result {
	font-size: 16px;
	padding-top: 40px;
}

#qsuggestion {
	padding-top: 40px;
}


hr {
width: 60%;
align:left
}

li:not(:last-child) {
    margin-bottom: 5px;
}
text {
  font: 12px sans-serif;
}
body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
}
.bubble text {
	font: 10.5px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 14px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
