<!DOCTYPE HTML>
<html>
 <head>
    {% if title %}<title>{{title}}</title>{% endif %}
    <!-- bootstrap + jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/styles.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/enhancements.css" /> -->
    <!-- <script src="/static/js/jquery-2.0.3.min.js"></script> -->
    
    <link rel="shortcut icon" href="https://github.com/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- typeahead -->
    <!-- https://twitter.github.io/typeahead.js/examples/ -->
    <link rel="stylesheet" type="text/css" href="/static/css/typeahead.css" />
    <script type="text/javascript" src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script type="text/javascript" src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script type="text/javascript" src="/static/js/typeahead.js"></script>
    <script>
            $(document).ready(function() {
                $('#askgithub').submit(function() {
                    $('#result').empty();  
                    $('#progress').show();
                });
            });
    </script>
  {% if appenv == "production" %} {% include 'ga.js' %} {% endif %}
  </head>
  <body>
  	    {% block content %}{% endblock %}
    </body>
</html>
