{% extends "base-home.html" %}
<h1>ASK GITHUB</h1>
{% block content %}
<div class="span12">
<div id="welcome">
<p>Ask questions &amp; get insights on public <a href="http://github.com">GitHub</a> commits in the past 24 hours. 
<a href="/charts">
<i class="fa fa-bar-chart  fa-1x" style='color: orange;'></i>&nbsp;
<i class="fa fa-pie-chart  fa-1x" style='color: blue;'></i>&nbsp;
<i class="fa fa-line-chart  fa-1x" style='color: red;'></i>&nbsp;
d3 charts.</a> <a href="http://github.com/harishvc/githubanalytics">Interested?</a>
</p>
</div>


<div id="searchbox">
 <form action="." method="get" id="askgithub">
  <div class="example" id="multiple-datasets">
   <div class="demo">
   	<input class="typeahead" name="q"  value="{{ query[0]["text"] }}" type="text" placeholder="What are you looking for?">
        <input id="gobutton" type="submit" class="btn" name="action" value="Ask GitHub"/>
   </div>
  </div>
 </form>
</div>

<!-- Display Results -->
<br/>
<div id="progress"><br/><br/>Please wait as your request is processed ... <img src="/static/pics/loading.gif"/></div>
{% if query[0]["text"] | length>= 1 %}
	<div id="result">
           <p>{{ processed_text.decode('utf-8')  |safe }}</p>
        </div>
{% endif %}

<!--
	<div id="qsuggestion"><p>Similar Queries: {{ qr|safe }}</p></div>  
-->

{% endblock %}


</div>
