{% extends "base-home.html" %}
{% block content %}
<div class="span12">
<div id="welcome">
<h1>Ask GitHub</h1>
<p>Ask questions &amp; get insights on public <a href="http://github.com">GitHub</a> commits in the past 24 hours.</p>
</div>


<div id="searchbox">
 <form action="." method="get" id="askgithub">
  <div class="example" id="multiple-datasets">
   <div class="demo">
   	<input class="typeahead" name="q"  value="{{ query[0]["text"] }}" type="text" placeholder="What are you looking for?"/>
        <input id="gobutton" type="submit" class="btn" name="action" value="Search"/>
   </div>
  </div>
 </form>
</div>
<div id="relatedlinks">
<i class="fa fa-pie-chart fa-1x" style='color: blue;'></i>&nbsp;<a href="/charts">Charts</a>&nbsp;&nbsp;&nbsp;
<i class="fa fa-github-alt fa-1x"></i>&nbsp;<a href="http://github.com/harishvc/githubanalytics">Let's collaborate!</a>
</div>
<hr/>

<!-- Display Results -->
<div id="progress"><br/><br/>Please wait as your request is processed ... <img src="/static/pics/loading.gif"/></div>
{% if query[0]["text"] | length>= 1 %}
	<div id="result">
           <p>{{ processed_text.decode('utf-8')  | safe }}</p>
        </div>
{% endif %}


<div id="qsuggestion"><p>{{ qr.decode('utf-8') | safe }}</p></div>  


{% endblock %}


</div>
