{% extends "base-home.html" %}
{% block content %}
<!--<h1><a href="/">Ask GitHub</a></h1> -->
<div id="welcome">
<p>Ask questions &amp; get insights on public <a href="http://github.com">GitHub</a> commits in the past 24 hours. 
<a href="/charts">
<i class="fa fa-bar-chart  fa-1x" style='color: orange;'></i>&nbsp;
<i class="fa fa-pie-chart  fa-1x" style='color: blue;'></i>&nbsp;
<i class="fa fa-line-chart  fa-1x" style='color: red;'></i>&nbsp;
d3 charts.</a> <a href="http://github.com/harishvc/githubanalytics">Interested?</a>
</p>
</div>
<div id="searchbox">
 <form action="." method="get">
<!--
		<input type="text" name="q" value="{{ query[0]["text"] }}" 	size="50" maxlength="50" id="searchbox"/>
-->
    
<div class="example" id="multiple-datasets">
   <div class="demo">
   	<input class="typeahead" name="q"  value="{{ query[0]["text"] }}" type="text" placeholder="What are you looking for?">
<input id="gobutton" type="submit" class="btn" name="action" value="Ask GitHub"/>

   </div>


</div>


 </form>
</div>
<br/>
<!-- Display Results -->
{% if query[0]["text"] | length>= 1 %}
	<div id="result"><p>{{ processed_text.decode('utf-8')  |safe }}</p></div>
{% endif %}

<!--
	<div id="qsuggestion"><p>Similar Queries: {{ qr|safe }}</p></div>  
-->

{% endblock %}


